.a{font-family: 'Bebas Neue', sans-serif; font-weight: 100; color:white; font-size: 30px;}
.b{font-family: 'Francois One', sans-serif; font-weight: 900; color:white; font-size: 40px;}
.c{font-family: 'Noto Sans KR', sans-serif; font-weight: 100; color:white; font-size: 20px; margin: 15px; margin-top: 40px;}
.center{text-align: center;}
.largeText{font-family: 'Noto Sans KR', sans-serif; font-weight: 900; color:white; font-size: 60px;}



.container
{
margin-top:1000px;
display: flex;
justify-content: center;
flex-direction: row;
width:100%;
height: 500px;
}

img
{
filter: invert(100%);
}

.text
{
margin-top: 200px;
}

.button
{
position: relative;
margin-left: 25px;
margin-right: 25px;
background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
border: 3px solid white;
border-radius: 15px;
padding: 0px;
width: 300px;
height: 480px;
cursor: pointer;
backdrop-filter: blur(15px);
overflow: hidden;
text-align: center;
transition: transform 0.2s;
-webkit-transition: transform 0.2s;
}

.button:hover
{
transform: translate(0, -30px);
-webkit-transform: translate(0, -30px);
}

.topSection
{
position: fixed;
top:0px;
margin: 0px;
width: 100%;
height: 125px;
padding-left: 30px;
backdrop-filter: blur(5px);
overflow: hidden;
background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
z-index: 1;
}

.aboutUs
{
position: absolute;
right : 100px;
top : 47px;
text-decoration: none;
font-family: 'Zen Kurenaido', sans-serif; font-weight: 100; color:white; font-size: 20px;
}

.line
{
position: fixed;
top : 124px;
border: 0px;
margin: 0px;
width: 100%;
height: 2px;
background-color: white;
z-index: 2;
}

body
{
background-attachment: fixed;
background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('image/image.png');
background-size: cover;
margin: 0;
margin-bottom: 50px;
}


